<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:fragment="title">Default Title</title>
    <link href="/mesh/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Ensure the page takes up full height */
        html, body {
            height: 100%;
        }
        /* Make sure the content area grows to fill the space above the footer */
        .content {
            min-height: calc(100vh - 56px); /* Adjust the height by the footer height */
        }
        /* Ensure the footer is fixed to the bottom */
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body class="d-flex flex-column">


<!-- Navbar Fragment -->
<div layout:fragment="header">
    <nav class="navbar navbar-expand-lg  bg-dark text-white navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">LiteMesh</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:classappend="${module == 'home' ? 'active' : ''}"  class="nav-link" aria-current="page" th:href="@{/mesh/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${module == 'about' ? 'active' : ''}" class="nav-link" th:href="@{/mesh/about}">About</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${module == 'contact' ? 'active' : ''}" class="nav-link" th:href="@{/mesh/contact}">Contact</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a th:classappend="${module == 'signin' ? 'active' : ''}" class="nav-link" aria-current="page" th:href="@{/mesh/signin}">Sign-in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Main content area that will be replaced by specific page content -->
<div class="content flex-grow-1">
    <div class="container mt-5" layout:fragment="content">
        <p>Default content if not replaced.</p>
    </div>
</div>


<!-- Include the footer fragment -->
<div layout:fragment="footer">
    <!-- Placeholder for footer if not replaced by child template -->
    <footer class="bg-dark text-white text-center py-3 fs-large">
        <div class="container">
            &copy; 2024 LiteMesh. All rights reserved.
        </div>
    </footer>
</div>


<script src="/mesh/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>